<!DOCTYPE html>
<html>

  {% include head.html %}

<body class="advanced-sedation">

    <section class="top">
      {% include top-navigation.html %}
    </section>

    {{ content }}

    {% include footer.html %}
    <script src="{{ "js/jquery.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <script src="{{ "js/slick.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <script src="{{ "js/foundation.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
          $('.slideshow').slick({
              autoplay: true,
              fade: false,
              cssEase: 'ease-in-out',
              speed: 500,
              dots: false,
              arrows: false
            });
            $(document).foundation();
        });
    </script>


</body>
</html>
